<!--
<h1>Hello Sairam</h1>
{{name}}
{{company}}
{{object1 | json}}
<pre>
{{object2 | json}}
{{CALC}}
</pre>
-->

<!--
<pre>
  {{calc | json}}
</pre>
-->

<!--
<p *ngFor="let item of arr; let i = index">
  {{2}} * {{item}} = {{2*item}}
</p>
{{data.add()}}
{{data.sub()}}
{{data.mul()}}
-->

<!--
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
-->


<!--
24/09

<div class="container">
  <app-header></app-header>
  <app-header></app-header>
  <app-header></app-header>
  <app-header></app-header>
  <app-header></app-header>
</div>
-->

<!--
<app-task2409head> </app-task2409head>
<app-task2409body> </app-task2409body>
-->

<app-calculator></app-calculator>
